<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jsf="http://jsf.jd.com/schema/jsf"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                         http://jsf.jd.com/schema/jsf http://jsf.jd.com/schema/jsf/jsf.xsd">

    <!-- 注册中心 address="192.168.209.74:40770" -->
    <jsf:registry id="jsfRegistry" index="i.jsf.jd.com"/>

    <!-- 服务调用者配置 直连使用 url="jsf://127.0.0.1:20880;jsf://127.0.0.1:20881" -->
    <jsf:consumer id="jsfRdpPDService" interface="com.jdjr.rdp.pd.service.RdpPDService"
                  protocol="jsf" alias="rdpPD" timeout="10000" retries="0">
    </jsf:consumer>

    <bean id="filterService" class="com.jd.mja.rdp.storm.service.impl.FilterServiceImpl">
        <property name="jsfRdpPDService" ref="jsfRdpPDService"/>
        <property name="profileActive" value="${profile.active}"/>
    </bean>




</beans>